h1, .h1

{

   font-family: Arial;

   font-weight: bold;

   font-size: 32px;

   text-decoration: none;

   color: #000000;

   --color: #000000;

   background-color: transparent;

   margin: 0 0 0 0;

   padding: 0 0 0 0;

   display: inline-block;

}

h2, .h2

{

   font-family: Arial;

   font-weight: bold;

   font-size: 27px;

   text-decoration: none;

   color: #000000;

   --color: #000000;

   background-color: transparent;

   margin: 0 0 0 0;

   padding: 0 0 0 0;

   display: inline-block;

}

h3, .h3

{

   font-family: Arial;

   font-weight: bold;

   font-size: 24px;

   text-decoration: none;

   color: #000000;

   --color: #000000;

   background-color: transparent;

   margin: 0 0 0 0;

   padding: 0 0 0 0;

   display: inline-block;

}

h4, .h4

{

   font-family: Arial;

   font-weight: bold;

   font-size: 21px;

   font-style: italic;

   text-decoration: none;

   color: #000000;

   --color: #000000;

   background-color: transparent;

   margin: 0 0 0 0;

   padding: 0 0 0 0;

   display: inline-block;

}

h5, .h5

{

   font-family: Arial;

   font-weight: bold;

   font-size: 19px;

   text-decoration: none;

   color: #000000;

   --color: #000000;

   background-color: transparent;

   margin: 0 0 0 0;

   padding: 0 0 0 0;

   display: inline-block;

}

h6, .h6

{

   font-family: Arial;

   font-weight: bold;

   font-size: 16px;

   text-decoration: none;

   color: #000000;

   --color: #000000;

   background-color: transparent;

   margin: 0 0 0 0;

   padding: 0 0 0 0;

   display: inline-block;

}

.CustomStyle

{

   font-family: "Courier New";

   font-weight: bold;

   font-size: 16px;

   text-decoration: none;

   color: #2E74B5;

   --color: #2E74B5;

   background-color: transparent;

}

.button

{

   font-size: 16px;

   text-align: center;

   text-decoration: none;

   color: #FFFFFF;

   --color: #FFFFFF;

   background-color: #008CBA;

   --background-color: rgba(0,140,186,1.00);

   border: 0 solid #000000;

   --border-color: #000000;

   cursor: pointer;

   margin: 4px 4px 4px 4px;

   padding: 15px 15px 15px 15px;

   display: inline-block;

}

.style1

{

   font-family: Arial;

   font-weight: normal;

   font-size: 13px;

   font-style: normal;

   text-align: left;

   text-decoration: none;

   color: #454545;

   --color: #454545;

   background-color: #F6F6F6;

   --background-color: rgba(246,246,246,1.00);

   background-image: url('none');

   border: 1px solid #C5C5C5;

   --border-color: #C5C5C5;

   border-radius: 4px;

   margin: 0 0 0 0;

   padding: 4px 4px 4px 4px;

}

.buttonNew

{

   font-size: 16px;

   text-align: center;

   text-decoration: none;

   color: #FFFFFF;

   --color: #FFFFFF;

   border: 0 solid #000000;

   --border-color: #000000;

   cursor: pointer;

   margin: 4px 4px 4px 4px;

   padding: 16px 16px 16px 16px;

   opacity: 0.6;

}

